<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> FDS </title>
        <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-           T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">  -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
           
    </head>
    <body ng-app="app">
        <nav class="sticky-top navbar navbar-expand-lg " ng-controller="ctr">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html"> <img src="pictures/logo.jpg" alt="FDS TOURNOIS 2023-2024"  width ="65" height="65"></a>

       

      <button type="button" class="btn btn-outline-light "><a class=" fsize21 link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" target="_blank" href=" https://whatsapp.com/channel/0029VaCwGU69WtByFBwmKX35"> <img src="pictures/whatsapp.svg" alt="Whatsapp" width="20" height="14">Whatsapp Channel </a>
      </button>

           <!-- <div id= "bell">  <button type="button" id="bell" class="btn btn-outline-light spaceral2"><div class=" fsize21 link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" > <img src="pictures/bell.svg" alt="Whatsapp" width="20" height="14">Notifications </div>
       </button> </div>  -->

      
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span id="icon" class="navbar-toggler-icon"></span>
    </button>

      <div class="spaceral dropdown-center container-fluid d-md-block d-lg-none ">
           <div class="row" >
         
          <a class="nav-link dropdown-toggle fsize2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Top Scorers
          </a>
          <div class="dropdown-menu text-center ">
              <div class="offset-10 col-2 fsize"> Goals</div>
              <div class="col-8" > <span class="fsize"> Player Names</span> </div>
             <div class="fsize2 col-8" >  Teams </div> 
              <li><hr class="dropdown-divider"></li>
              
               <div ng-repeat="item in buteurs">
              <li><hr class="dropdown-divider"></li>
               <div class="offset-10 col-2 fsize"> {{item.goal}}</div>
               <div class="col-8" ><span class="fsize">{{item.name}}  </span></div>
             <div class="fsize2 col-8" > {{item.team}} </div> 
                 </div> 
              
             
              </div>
           </div>
       </div> 



          
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item d-block ">
          <a class="nav-link " aria-current="page" href="index.html">Home</a>
        </li>
        <li class="nav-item d-block">
          <a class="nav-link active" aria-current="page" href="#">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#Matches">Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#Knockout">Knockout</a>
        </li>    
        
      </ul>
    </div>

       <div class="spaceral2 dropdown-center container-fluid d-none d-sm-none d-md-none d-lg-block ">
           <div class="row" >
         
          <a class="nav-link dropdown-toggle fsize2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Top Scorers
          </a>
          <div class="dropdown-menu text-center ">
              <div class="offset-10 col-2 fsize"> Goals</div>
              <div class="col-8" ><span class="fsize"> Player Names</span> </div>
             <div class="fsize2 col-8" >  Teams </div> 
              <li><hr class="dropdown-divider"></li>
              
              <div ng-repeat="item in buteurs">
              <li><hr class="dropdown-divider"></li>
               <div class="offset-10 col-2 fsize"> {{item.goal}}</div>
               <div class="col-8" ><span class="fsize">{{item.name}}  </span></div>
             <div class="fsize2 col-8" > {{item.team}} </div> 
                 </div> 
              
             
              </div>
           </div>
       </div> 

          
  </div>
</nav>
        <div id= "head-title "class="container-fluid ">
            <div class="row text-center">
               <div class="downtoclick  col-12">
                  <a class="nav-link" href="indexb.html"> 🏀<br> BASKETBALL </a>
              </div>  
                
              <div class="uptoclick col-6">
                <a class="nav-link" href="index.html"> ⚽ <br>FOOTBALL </a>
              </div>
              <div class="downtoclick col-6">
                  <a class="nav-link" href="indexv.html"> 🏐<br> VOLLEY-BALL </a>
              </div>
              
                
            </div>            
        </div>


        <!-- notifications alert class="visually-hidden" -->

       <!-- <div>   
       
        
             <button id="notifbutton" type="button" class="btn btn-sm btn-outline-info visually-hidden" data-bs-toggle="modal" data-bs-target="#notifalert">
              <p > Notifications Alerts</p> 
             </button>

            
             <div class="modal fade nwa" id="notifalert" tabindex="-1" aria-labelledby="notifalertdiv" aria-hidden="true">
                 <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                       <div class="modal-header">
                       <h2 class="modal-title fs-5" id="notifalertdiv">Notifications denied</h2>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Veillez activez les notifications manuellement <br> Settings=> site Settings=> notifications
                    </div>
                    <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                       
                    </div>
                  </div>
               </div>
            </div>
       
       
       
        </div> 
       -->
  <!-- end of notifications alert -->




        


        
         <div class="holder container-fluid" ng-controller="ctr">
             <h3 class="text-center"> Matches </h3>
             Filtrer:<input type="text" ng-keyup= "search()" ng-model="teamName" placeholder=" Name of your team">
             <!-- <button ng-click=" search()"> Search </button>  -->
             
              <div class="space"> </div>
             <div ng-repeat= "item in matches | filter :teamName "> 
                 {{item.phase}}<br>
             
             <div class="match-n col-md-6 row ">
                 <div class=" text-center col-2 fsize21"> {{item.date}}<br> {{item.hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{item.class1}}">{{item.team1}} </div>
                     <div class="{{item.class2}}">{{item.team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{item.class1}}">{{item.goal1}}</span><br> <span class="{{item.class2}}" >{{item.goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->
             
             
             
             
             
             
             
             </div>
             <div class=" fsize  row">
                 <h6 class="date" ><hr>Round 1<hr></h6>
                 <h4>Groupe A</h4>
                <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[0].date}}<br> {{matchesGroup[0].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[0].class1}}">{{matchesGroup[0].team1}} </div>
                     <div class="{{matchesGroup[0].class2}}">{{matchesGroup[0].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[0].class1}}">{{matchesGroup[0].goal1}}</span><br> <span class="{{matchesGroup[0].class2}}" >{{matchesGroup[0].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->
                 
              <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[1].date}}<br> {{matchesGroup[1].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[1].class1}}">{{matchesGroup[1].team1}} </div>
                     <div class="{{matchesGroup[1].class2}}">{{matchesGroup[1].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[1].class1}}">{{matchesGroup[1].goal1}}</span><br> <span class="{{matchesGroup[1].class2}}" >{{matchesGroup[1].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->   
               


                 
               <h4>Groupe B</h4>
                <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[2].date}}<br> {{matchesGroup[2].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[2].class1}}">{{matchesGroup[2].team1}} </div>
                     <div class="{{matchesGroup[2].class2}}">{{matchesGroup[2].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[2].class1}}">{{matchesGroup[2].goal1}}</span><br> <span class="{{matchesGroup[2].class2}}" >{{matchesGroup[2].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> --> 
                 
               <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[5].date}}<br> {{matchesGroup[5].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[5].class1}}">{{matchesGroup[5].team1}} </div>
                     <div class="{{matchesGroup[5].class2}}">{{matchesGroup[5].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[5].class1}}">{{matchesGroup[5].goal1}}</span><br> <span class="{{matchesGroup[5].class2}}" >{{matchesGroup[5].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->  


             <h4>Groupe C</h4>
                <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[3].date}}<br> {{matchesGroup[3].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[3].class1}}">{{matchesGroup[3].team1}} </div>
                     <div class="{{matchesGroup[3].class2}}">{{matchesGroup[3].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[3].class1}}">{{matchesGroup[3].goal1}}</span><br> <span class="{{matchesGroup[3].class2}}" >{{matchesGroup[3].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->
                 
                <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[4].date}}<br> {{matchesGroup[4].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[4].class1}}">{{matchesGroup[4].team1}} </div>
                     <div class="{{matchesGroup[4].class2}}">{{matchesGroup[4].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[4].class1}}">{{matchesGroup[4].goal1}}</span><br> <span class="{{matchesGroup[4].class2}}" >{{matchesGroup[4].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->  
              
                 
                 
                 <h4>Groupe D</h4>
                <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[8].date}}<br> {{matchesGroup[8].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[8].class1}}">{{matchesGroup[8].team1}} </div>
                     <div class="{{matchesGroup[8].class2}}">{{matchesGroup[18].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[8].class1}}">{{matchesGroup[8].goal1}}</span><br> <span class="{{matchesGroup[8].class2}}" >{{matchesGroup[8].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->
                 
                <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[10].date}}<br> {{matchesGroup[10].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[10].class1}}">{{matchesGroup[10].team1}} </div>
                     <div class="{{matchesGroup[10].class2}}">{{matchesGroup[10].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[10].class1}}">{{matchesGroup[10].goal1}}</span><br> <span class="{{matchesGroup[10].class2}}" >{{matchesGroup[10].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->  





             <h6 class="date" ><hr>Round 2<hr></h6>
                 <h4>Groupe A</h4>
                <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[6].date}}<br> {{matchesGroup[6].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[6].class1}}">{{matchesGroup[6].team1}} </div>
                     <div class="{{matchesGroup[6].class2}}">{{matchesGroup[6].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[6].class1}}">{{matchesGroup[6].goal1}}</span><br> <span class="{{matchesGroup[6].class2}}" >{{matchesGroup[6].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->
                 
              <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[12].date}}<br> {{matchesGroup[12].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[12].class1}}">{{matchesGroup[12].team1}} </div>
                     <div class="{{matchesGroup[12].class2}}">{{matchesGroup[12].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[12].class1}}">{{matchesGroup[12].goal1}}</span><br> <span class="{{matchesGroup[12].class2}}" >{{matchesGroup[12].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->   
               


                 
               <h4>Groupe B</h4>
                <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[7].date}}<br> {{matchesGroup[7].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[7].class1}}">{{matchesGroup[7].team1}} </div>
                     <div class="{{matchesGroup[7].class2}}">{{matchesGroup[7].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[7].class1}}">{{matchesGroup[7].goal1}}</span><br> <span class="{{matchesGroup[7].class2}}" >{{matchesGroup[7].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> --> 
                 
               <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[11].date}}<br> {{matchesGroup[11].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[11].class1}}">{{matchesGroup[11].team1}} </div>
                     <div class="{{matchesGroup[11].class2}}">{{matchesGroup[11].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[11].class1}}">{{matchesGroup[11].goal1}}</span><br> <span class="{{matchesGroup[11].class2}}" >{{matchesGroup[11].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->  


             <h4>Groupe C</h4>
                <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[9].date}}<br> {{matchesGroup[9].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[9].class1}}">{{matchesGroup[9].team1}} </div>
                     <div class="{{matchesGroup[9].class2}}">{{matchesGroup[9].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[9].class1}}">{{matchesGroup[9].goal1}}</span><br> <span class="{{matchesGroup[9].class2}}" >{{matchesGroup[9].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->
                 
                <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[13].date}}<br> {{matchesGroup[13].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[13].class1}}">{{matchesGroup[13].team1}} </div>
                     <div class="{{matchesGroup[13].class2}}">{{matchesGroup[13].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[13].class1}}">{{matchesGroup[13].goal1}}</span><br> <span class="{{matchesGroup[13].class2}}" >{{matchesGroup[13].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->  
              
                 
                 
                 <h4>Groupe D</h4>
                <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[14].date}}<br> {{matchesGroup[14].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[14].class1}}">{{matchesGroup[14].team1}} </div>
                     <div class="{{matchesGroup[14].class2}}">{{matchesGroup[14].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[14].class1}}">{{matchesGroup[14].goal1}}</span><br> <span class="{{matchesGroup[14].class2}}" >{{matchesGroup[14].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->
                 
                <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[16].date}}<br> {{matchesGroup[16].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[16].class1}}">{{matchesGroup[16].team1}} </div>
                     <div class="{{matchesGroup[16].class2}}">{{matchesGroup[16].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[16].class1}}">{{matchesGroup[16].goal1}}</span><br> <span class="{{matchesGroup[16].class2}}" >{{matchesGroup[16].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> --> 






              <h6 class="date" ><hr>Round 3<hr></h6>
                <h4>Groupe A</h4>
                <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[15].date}}<br> {{matchesGroup[15].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[15].class1}}">{{matchesGroup[15].team1}} </div>
                     <div class="{{matchesGroup[15].class2}}">{{matchesGroup[15].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[15].class1}}">{{matchesGroup[15].goal1}}</span><br> <span class="{{matchesGroup[15].class2}}" >{{matchesGroup[15].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->
                 
              <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[17].date}}<br> {{matchesGroup[17].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[17].class1}}">{{matchesGroup[17].team1}} </div>
                     <div class="{{matchesGroup[17].class2}}">{{matchesGroup[17].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[17].class1}}">{{matchesGroup[17].goal1}}</span><br> <span class="{{matchesGroup[17].class2}}" >{{matchesGroup[17].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->   
               


                 
               <h4>Groupe B</h4>
                <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[19].date}}<br> {{matchesGroup[19].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[19].class1}}">{{matchesGroup[19].team1}} </div>
                     <div class="{{matchesGroup[19].class2}}">{{matchesGroup[19].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[19].class1}}">{{matchesGroup[19].goal1}}</span><br> <span class="{{matchesGroup[19].class2}}" >{{matchesGroup[19].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> --> 
                 
               <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[22].date}}<br> {{matchesGroup[22].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[22].class1}}">{{matchesGroup[22].team1}} </div>
                     <div class="{{matchesGroup[22].class2}}">{{matchesGroup[22].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[22].class1}}">{{matchesGroup[22].goal1}}</span><br> <span class="{{matchesGroup[22].class2}}" >{{matchesGroup[22].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->  


             <h4>Groupe C</h4>
                <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[18].date}}<br> {{matchesGroup[18].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[18].class1}}">{{matchesGroup[18].team1}} </div>
                     <div class="{{matchesGroup[18].class2}}">{{matchesGroup[18].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[18].class1}}">{{matchesGroup[18].goal1}}</span><br> <span class="{{matchesGroup[18].class2}}" >{{matchesGroup[18].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->
                 
                <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[20].date}}<br> {{matchesGroup[20].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[20].class1}}">{{matchesGroup[20].team1}} </div>
                     <div class="{{matchesGroup[20].class2}}">{{matchesGroup[20].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[20].class1}}">{{matchesGroup[20].goal1}}</span><br> <span class="{{matchesGroup[20].class2}}" >{{matchesGroup[20].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->  
              
                 
                 
                 <h4>Groupe D</h4>
                <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[21].date}}<br> {{matchesGroup[21].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[21].class1}}">{{matchesGroup[21].team1}} </div>
                     <div class="{{matchesGroup[21].class2}}">{{matchesGroup[21].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[21].class1}}">{{matchesGroup[21].goal1}}</span><br> <span class="{{matchesGroup[21].class2}}" >{{matchesGroup[21].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> -->
                 
                <div class="match-n col-md-6 row " >
                 <div class=" text-center col-2 fsize21"> {{matchesGroup[23].date}}<br> {{matchesGroup[23].hours}} </div>   <!-- Heure de match-->
                 <div class=" bl col-8">
                     
                     <div class="{{matchesGroup[23].class1}}">{{matchesGroup[23].team1}} </div>
                     <div class="{{matchesGroup[23].class2}}">{{matchesGroup[23].team2}}</div>
                 </div>
                 <div class=" text-center col-2"> <span class="{{matchesGroup[23].class1}}">{{matchesGroup[23].goal1}}</span><br> <span class="{{matchesGroup[23].class2}}" >{{matchesGroup[23].goal2}}</span>  </div>
                    
              </div> <!-- end of div <match-n></match-n> --> 

                <div class="space"> </div>

        

         <footer id="foot" class="row text-center">
     
        <section  class="col-sm-4">
              <h4>Info </h4>
            <div class="row"> 
                <div class="col-6"> FC Mitchelle <br> <p class="fsize2"> Title holder(1)  </p></div>
                <div class="col-6"> FC Mitchelle <br> <p class="fsize2">Most Titles(1) </p> </div>
                <br> <p class="fsize">Competitors </p> <br> <p class="fsize"> 16</p>
          <hr class=" d-sm-none">
             
             </div>
        
        </section>
        <section  class="col-sm-4">
              <h4>Le Comité Organisateur </h4>
            <div class="row"> 
                <div class="col-6"> Benthuram PREVAL <br> <p class="fsize2"> Président  </p></div>
                <div class="col-6"> Sergelie VIXAMAR <br> <p class="fsize2">Secrétaire </p> </div>
                <div class="col-6">Nitshaï NORMIL <br> <p class="fsize2"> Coord. du tournoi de volleyball   </p></div>
                <div class="col-6"> Olivier S. JEAN-BAPTISTE <br> <p class="fsize2">Coord. du tournoi de football </p> </div>
                 <div class="col-6"> Sébastien AUGUSTIN <br> <p class="fsize2">Resp de la communication   </p></div>
                <div class="col-6"> Jospin DORIVAL  <br> <p class="fsize2">Resp des arbitres  </p> </div>
                <div class="col-6"> Yodline BAZELAIS <br> <p class="fsize2"> Resp de la logistique   </p></div>
                <div class="col-6"> Thanguy ST-CYR  <br> <p class="fsize2">Trésorier </p> </div>
                <div class="offset-3 col-6"> Christian BEAUSEJOUR <br> <p class="fsize2">Délégué du comité à l’AEFDS  </p> </div>
                
                
          <hr class=" d-sm-none">
             
             </div>
             
        
        </section>     
     
        <section id="testimonials" class="col-sm-4">
             <h4> Best Comments </h4>
          <p>"The best Competiton I've been to! And that's saying a lot, since I've been to many!"</p>
          <p>"Amazing experience! Great teams!  Big challenge! Couldn't ask for more! I'll wait for the basket-ball"</p>
        </section>
      <div class="text-center">&copy; Copyright 2024-GAMMA</div>
  </footer>






        
        <script src="js/bootstrap.bundle.min.js">  </script>
         <script src="js/angular.min.js">  </script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->
        
        <script src="js/script.js">  </script>  
    </body>
</html>    
